<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1143B7D31D74BE23009CFA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1143B7E71D74BE24009CFA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1143B7F21D74BE24009CFA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
